.form {
	text-align: center;
	background: rgba(0, 0, 0, 0.33);
	max-width: 300px;
	width: 100%;
	margin: 15px auto 0;
	padding: 20px 20px;
	height: max-content;

	input {
		background: transparent;
	}

	.fileName {
		line-height: 0;
		font-size: 12px;
		text-align: start;
		color: aqua;
	}
}

.formLabel {
	text-align: start;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	gap: 5px;
}

.heading {
	color: white;
}

.inputs {
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.haveAcc {
	font-size: 13px;
	text-align: end;
}

.formBtn {
	margin-top: 40px;

	button {
		width: 100%;
		text-transform: uppercase;
	}
}
