.root {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;

	.content {
		width: 71.3%;
		.requests {
			list-style: none;
			background-color: rgba(0, 0, 0, 0.368627451);
			box-shadow: 1px 1px 8px #000;
			padding: 15px;
			height: 80vh;

			h2 {
				font-size: 20px;
				display: inline-block;
				line-height: 0;
				margin: 10px 0 25px 0;
				background-color: #3c3c3c;
				padding: 20px 15px;
				border-radius: 15px;

				span {
					margin-left: 10px;
					color: aqua;
					font-size: 22px;
					background-color: #2e2e2e;
					padding: 0px 10px;
					border-radius: 20px;
				}
			}

			.requesterItem {
				display: flex;
				align-items: center;
				padding: 10px 0;
				border-top: 1px solid #787878;

				.reqImg {
					width: 100px;
					height: 100px;
					object-fit: cover;
					border-radius: 50%;
					margin-right: 30px;
				}
				.reqName {
					font-size: 23px;
					color: aqua;
					text-transform: capitalize;
				}
				.reqInfo {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.btns {
						display: flex;
						gap: 30px;

						button {
							border-radius: 10px;
							background-color: #3c3c3cc0;
							color: #ccc;

							&:hover {
								background-color: transparent;
							}
						}
					}
				}
			}

			.emptyRequests {
				margin-top: 200px;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;

				p {
					margin: 3px;
				}

				span {
					color: aqua;
					text-decoration: underline;
				}
			}
		}
	}
}
