.image {
	height: 300px;
	max-width: 1330px;
	width: 100%;
}

.mainInfo {
	display: flex;
	margin: 15px 0 15px 0;
	color: #cccccc;
	max-height: 220px;

	.avatar {
		position: relative;
	}

	.changeMainImg {
		width: 30px;
		position: absolute;
		bottom: 10px;
		right: 30px;
		cursor: pointer;
		backdrop-filter: brightness(0.55);
		border-radius: 30%;
	}

	hr {
		border-color: rgb(204 204 204 / 48%);
	}
}

.mainImg {
	width: 210px;
	height: 210px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 15px #000;
	margin-right: 25px;
	padding: 5px;
	object-fit: cover;
}

.mainAbout {
	width: 100%;
	line-height: 0;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.37);
	box-shadow: 1px 1px 8px #000;
	border-radius: 25px;
	padding: 7px 15px 15px 25px;

	.subBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.subtitle {
	font-size: 15px;
	display: flex;
	justify-content: start;
	align-items: center;
	margin: -5px 5px 10px 0;

	img {
		width: 25px;
	}
}

.profileTitle {
	letter-spacing: 2px;
	color: #fff;
}

.profileInfo {
	display: flex;
	gap: 40px;
	align-items: start;

	p {
		padding-bottom: 10px;
	}

	.right {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: aqua;

		.emptyInfo {
			color: #ccc;
			font-size: 17px;
		}
	}
}

.profileInfo .left {
	color: white;
}

.noneInfo {
	color: rgb(21, 156, 156);
}
