.image {
	height: 300px;
	max-width: 1330px;
	width: 100%;
}

.root {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 15px #000;
	border-radius: 25px;
	margin-top: 15px;

	.emptyShadow {
		background: rgb(40 103 112 / 26%);
		border-radius: 20px 20px 0 0;
		-webkit-mask: linear-gradient(#000 75%, rgba(0, 0, 0, 0.333333333) 95%, rgba(0, 0, 0, 0));
		height: 157px;
		position: absolute;
		width: -webkit-fill-available;
	}
}

.mainInfo {
	display: flex;
	color: #cccccc;
	max-height: 220px;
	padding: 10px 20px 10px 10px;
	border-radius: 0 0 20px 20px;
	position: relative;
	padding-top: 35px;

	.avatar {
		position: relative;
	}

	.changeMainImg {
		width: 25px;
		position: absolute;
		bottom: 15px;
		right: 45px;
		cursor: pointer;
		backdrop-filter: brightness(0.55);
		border-radius: 30%;
	}

	hr {
		border-color: rgb(204 204 204 / 48%);
		margin-top: 0;
	}
}

.mainImg {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin-right: 25px;
	object-fit: cover;
	border: 3px solid #3c3c3c;
}

.mainAbout {
	width: 100%;
	line-height: 0;
	font-size: 16px;
	margin-top: 50px;

	.subBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btns {
			display: flex;

			.moreBtn {
			}
		}

		button {
			border-radius: 10px;
			margin: 0 3px;
			display: flex;
			align-items: end;

			img {
				width: 11px;
				height: 11px;
				padding-left: 4px;
			}
		}
	}

	.nameBlock {
		margin-bottom: -15px;
		display: flex;
		align-items: center;
		text-transform: capitalize;

		img {
			padding-left: 10px;
			width: 25px;
			height: 25px;
		}
	}
}

.subtitle {
	font-size: 14px;
	display: flex;
	justify-content: start;
	align-items: center;

	img {
		width: 20px;
	}
}

.profileTitle {
	letter-spacing: 2px;
	color: #fff;
}

.profileInfo {
	display: flex;
	gap: 40px;
	align-items: start;
	font-size: 15px;
}

.profileInfo .left {
	color: white;
}

.noneInfo {
	color: rgb(21, 156, 156);
}
