.root {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;

	.usersBlock {
		max-width: 70%;
		width: 100%;
		min-height: 80vh;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.37);
		box-shadow: 1px 1px 8px #000;
		margin-top: 15px;
	}

	.usersTitle {
		margin: 0;
		font-size: 20px;
		display: inline-block;
		line-height: 0;
		margin: 10px 0;
		background-color: #3c3c3c;
		padding: 20px 15px;
		border-radius: 15px;

		span {
			margin-left: 10px;
			color: aqua;
			font-size: 22px;
			background-color: #2e2e2e;
			padding: 0px 10px 0 5px;
			border-radius: 20px;
		}
	}

	.userList {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		padding: 0;

		.userItem {
			padding: 5px;
			background-color: rgba(0, 0, 0, 0.228627);
			box-shadow: 1px 0px 4px #000;
			max-width: 130px;
			width: 100%;
			border-radius: 5px;

			.userPhoto {
				width: 130px;
				height: 130px;
				object-fit: cover;
			}

			.userName {
				font-size: 15px;
				text-transform: capitalize;
				margin-bottom: 10px;
			}

			.info {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				align-items: center;

				.addFriendBtn {
					cursor: pointer;
					background: rgba(0, 255, 255, 0.198);
					border-radius: 5px;
					width: 100%;
					border: none;

					img {
						width: 25px;
						height: 25px;
						transition: all 0.4s ease;
						cursor: pointer;
					}

					&:hover {
						img {
							filter: drop-shadow(0px 0px 6px aqua);
						}
					}
				}
			}
		}
	}
}
