.root{
      gap: 5px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.btn{
	padding: 7px;
	border: 1px solid teal;
	color: white;
	cursor: pointer;
}

.btnActive{
	background-color: teal;
	color: white;
}