.root {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: rgba(0, 0, 0, 0.456);
	height: 100vh;
	overflow: hidden;
	z-index: 10;
}

.active {
	display: block;
	opacity: 1;
}

.modalContent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px 15px 20px;
	background: #2f2f32;

	border-radius: 15px;
	max-width: 500px;
	width: 100%;
	margin: 100px auto;
}
