.infoPart {
	display: flex;
	justify-content: space-between;

	.homeFriends {
		padding: 15px 15px 0;
		background-color: rgba(0, 0, 0, 0.37);
		box-shadow: 1px 1px 8px #000;
		max-width: 235px;
		height: 140px;
		width: 100%;
		margin: 20px 0px 0 15px;
		border-radius: 20px;

		.friendsTitle {
			font-size: 17px;

			b {
				color: aqua;
			}
		}

		.friendsList {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			list-style: none;
			padding: 0;

			.friendLink {
				transition: all 0.3s ease;
				&:hover {
					background-color: #3c3c3cc1;
					border-radius: 12px;
				}
			}

			.noneFriendsLink {
				background-color: #3c3c3c42;
				border-radius: 15px;

				span {
					color: aqua;
					font-size: 18px;
					font-weight: 500;
				}
			}

			.friend {
				display: flex;
				padding: 3px;
				flex-direction: column;
				align-items: center;
				text-transform: capitalize;
				max-width: 60px;
				width: 100%;

				img {
					width: 60px;
					height: 60px;
					object-fit: cover;
					border-radius: 50%;
				}
			}
		}
	}
}

@media (max-width: 860px) {
	.infoPart {
		flex-direction: column-reverse;

		.homeFriends {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 13px;
			margin-left: 0;
			padding: 5px 10px;
			max-width: none;
			height: 50px;
			width: auto;

			.friendsList {
				gap: 0;

				.friendLink {
					margin-left: -5px;
					border: 2px solid transparent;
					border-radius: 50%;

					.friend {
						img {
							width: 45px;
							height: 45px;
						}
						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
