.root {
	display: flex;
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.37);
	box-shadow: 1px 1px 8px #000;
	height: 85vh;

	ul {
		list-style: none;
	}

	.users {
		padding: 10px 5px;
		border-radius: 10px;
		gap: 10px;
		display: flex;
		flex-direction: column;

		.noChats {
			text-align: center;
			font-size: 20px;
			font-weight: 600;
			border-top: 1px solid #3c3c3c;
			border-bottom: 1px solid #3c3c3c;
			padding: 5px 0;
		}

		.user,
		li {
			font-size: 20px;
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: all 0.4s;
			padding: 5px 0;

			&:hover {
				box-shadow: 1px 1px 9px #000;
				border-radius: 15px;
			}

			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		.selectedUser {
			background: #483d8b80;
			border-radius: 15px;
		}

		.userText {
			display: flex;
			flex-direction: column;
			color: #fff;
			padding-left: 7px;

			.userName {
				text-transform: capitalize;
			}

			.lastMsg {
				margin-top: 5px;
				color: #ccc;
				font-size: 13px;
				display: flex;
				align-items: center;

				b {
					color: aqua;
					font-weight: 400;
					letter-spacing: -0.5px;
				}

				.lastMsgImg {
					margin-right: 5px;
					width: 20px;
					height: 20px;
					object-fit: cover;
				}
			}
		}
	}

	.userList {
		display: flex;
		flex-direction: column;
		box-shadow: 1px 1px 10px -2px #000;
		background-color: rgba(0, 0, 0, 0.17);

		.users {
			margin: -1px 0;
		}
	}

	.chatUsername {
		font-size: 24px;
		font-weight: 600;
		color: #12c7f5;
		display: block;
		box-shadow: 1px 1px 10px -2px #000;
		background-color: rgba(0, 0, 0, 0.17);
		border-radius: 5px;
		padding: 6px 45px;
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			width: 38px;
			height: 38px;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	.chatInfo {
		position: relative;
		width: 100%;

		.chatSenders {
			margin-top: 50px;
			display: flex;
			bottom: 10px;
			position: absolute;
			width: 85%;
			padding: 0 10px;
			left: 50px;

			label {
				cursor: pointer;
			}

			.input {
				position: relative;
				padding-right: 70px;
				border-radius: 10px 0 0 10px;
				background: none;
				padding: 10px;
				border: 1px solid #12c7f5;
				outline: none;
				color: white !important;

				&:focus {
					box-shadow: 0 0 10px rgb(31 199 255 / 70%);
				}
				&::placeholder {
					color: rgba(255, 255, 255, 0.75) !important;
				}
			}

			button {
				border-radius: 0 10px 10px 0px;
			}

			.iconLabel {
				position: absolute;
				left: -25px;
				top: 3px;
			}

			.selectedImg {
				width: 35px;
				height: 35px;
				object-fit: cover;
				right: 100px;
				top: 3px;
				position: absolute;
			}
		}

		input {
			width: 100%;
			font-size: 15px;
		}

		button {
			width: 110px;
			padding: 0;
		}
	}

	.chats {
		margin-bottom: 70px;
		height: calc(100vh - 280px);
		overflow: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 0 10px;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: #2f2f32e6;
			border-radius: 25px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #12c7f5;
			border-radius: 25px;
		}
	}
}

.selectedImgModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.456);
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	transition: opacity 0.3s ease-in-out;

	.selectedImgInModal {
		width: 500px;
		position: relative;
	}
}

.chatSearched {
	align-items: center;
	gap: 5px;

	img {
		object-fit: cover;
	}
}

.searchUser {
	.inputBlock {
		position: relative;

		input {
			border-radius: 15px;
		}

		.deleteValue {
			position: absolute;
			right: 10px;
			top: 7px;
			width: 25px;
			height: 25px;
			object-fit: contain;
			border-radius: 50%;
			cursor: pointer;
			transition: filter 0.4s;

			&:hover {
				filter: drop-shadow(0px 0px 3px aqua);
			}
		}
	}

	.chatSearched {
		border-bottom: 1px solid #ccc;

		&:hover {
			box-shadow: none !important;
			border-radius: 0px !important;
			overflow: hidden;
			background-color: #3c3c3c8b;
		}
	}
}
