.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: rgba(0, 0, 0, 0.456);
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	transition: opacity 0.3s ease-in-out;
}

.active {
	display: block;
	opacity: 1;
}

.modalContent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 35px;
	background: rgb(13, 32, 55);
	background: linear-gradient(0deg, rgb(13, 32, 55, 1) 0%, rgba(48, 73, 83, 1) 100%);

	border-radius: 15px;
	max-width: 300px;
	margin: 100px auto;
	gap: 30px;

	button {
		max-width: 30%;
	}

	input {
		font-size: 17px;

		&::placeholder {
			font-size: 13px;
		}
	}

	h2 {
		margin: 0 0 20px 0;
		color: white;
	}
}

.formItem {
	display: inline-block;
	vertical-align: top;
	position: relative;

	.closeIcon {
		width: 30px;
		position: absolute;
		top: 6px;
		right: 12px;
		margin-left: 10px;
		z-index: 3;
		cursor: pointer;
	}

	input {
		color: white;
	}

	input[type='date']::-webkit-calendar-picker-indicator {
		width: 25px;
		height: 25px;
		filter: invert(0.6);
	}
}

.formInput {
	height: 40px;
	padding: 0;
	z-index: 2;
	position: relative;
	padding: 0 10px;
	width: 92%;
	background: none;
	border: 1px solid #12c7f5;
	border-radius: 4px;
	border-style: solid;

	&.paginate {
		padding: 0 !important;
		box-sizing: initial;
		width: 100%;
	}
}

.paginateWrapper {
	position: relative;
	.placeholder {
		position: absolute;
		top: 0;
		left: 0;
		margin: 10px;
		padding: 0 5px;
		color: #ccc;
		pointer-events: none;
	}
}

.formLabel {
	position: absolute;
	left: 15px;
	right: 15px;
	top: 0;
	z-index: 1;
	white-space: nowrap;
	overflow: hidden;
	line-height: 40px;
	transition: 0.3s;
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown).formInput:not(:focus) ~ .formLabel {
	top: -32px;
	font-size: 13px;
	left: 0;
}
